html {
	background-color: #00ffff;
}
header {
	color: gold;
	border: double;
	text-align: center;
	border-color: green;
}
.intro h2{
	color: blue;
}
.intro {
	text-align: center;
	justify-content: center;
}
h3 {
	font-style: italic;
	color: red;
}

header img{
	height: 40em;
	width: 80em;
}
img {
	height: 20em;
	width: 30em;
}
#members {
	display: flex;
}
.Team {
	text-align: center;
	color: blue;
}
ol li {
	text-align: center;
}
.Darlene {
	display: flex;
	margin-left: 5em;
}
.Robert {
	display: flex;
	margin-left: 5em;
}
.Joel {
	display: flex;
	margin-left: 5em;
}
.Brooke {
	display: flex;
	margin-left: 5em;
}
.Bullock {
	display: flex;
	margin-left: 5em;
}
.Matty {
	display: flex;
	margin-left: 5em;
}
.Albums {
	text-align: center;
}
.song {
	font-style: italic;
}
footer {
	text-align: center;
}
footer h2 {
	color: blue;
}
footer h4 {
	color: red;
